@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300;400&family=Josefin+Sans:wght@400;500;700&family=Open+Sans:wght@400;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  font-size: 10px;
}
body {
  min-height: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
img {
  max-width: 70%;
  position: absolute;
  height: auto;
  display: block;
}
.hidden {
  display: none;
}
.absolutes {
  position: absolute;
  left: 0;
  right: 0;
  top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(121, 92, 88, 0.356);
  inset: 0;
  /* opacity: 0.6; */
  backdrop-filter: grayscale(50%);
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  color: #7c5054;
}
.player {
  padding: 7rem 1rem 1rem 1rem;
  font-size: 2rem;
  text-align: center;
  background-color: #fff6f3;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-number {
  margin-block: 16rem;
}
.current,
button {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}
.score-number {
  font-size: 10rem;
  color: #dc2f37;
  font-family: 'Advent Pro', sans-serif;
}
.current {
  background-color: #798897;
  color: #fff6f3;
  padding: 2rem 6rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
button {
  background: none;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
  color: #57191e;
  font-weight: 200;
  font-size: 2.2rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
button:hover {
  color: #dc2f37;
}
.gameplay {
  margin-block-start: 21rem;
  display: flex;
  flex-direction: column;
  background-color: #fff6f3;
  border-radius: 10px;
  padding: 2rem;
}
.new {
  margin-block-end: 15rem;
  /* background-color: #fff6f3; */
  padding: 1rem 1.5rem;
  transform: translateX(-150%);
}
.dice {
  visibility: hidden;
}
ion-icon {
  font-size: 2.5rem;
  display: grid;
  place-items: center;
  color: #dc2f37;
}
.pop-up {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: 500; */
}
.pop-overlay {
  background-color: rgba(0, 0, 0, 0.566);
  backdrop-filter: blur(3px);
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}
.message {
  z-index: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ccc0bd;
  width: 70%;
  height: 40%;
  display: grid;
  place-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  text-align: center;
  border-radius: 10px;
}
.message h1 {
  color: rgb(121, 92, 88);
}
.close {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 5rem;
  text-shadow: none;
  color: rgb(121, 92, 88);
  padding: 0;
}
.close:hover {
  color: #57191e;
}
